= render 'post', post: @post
.text-center.edit-links
  - if @post.user.id == current_user.id
    = link_to "Cancel", posts_path
    |
    = link_to "Edit Post", edit_post_path(@post)
  - else
    =link_to "Cancel", root_path
