.posts-wrapper.row
  .post
    .post-head
      .name
        = @post.user.user_name
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
    - if @post.user == current_user
      .text-center.edit-links
        = link_to "Cancel", posts_path
        |
        = link_to "Edit Post", edit_post_path(@post)
    - else
      .text-center.edit-links
        =link_to "Cancel", posts_path
